

/* body {
  /* background-image: url('/Cream.png'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* background-color: rgb(189, 183, 177); */
 
body{
  background-color: #f5e5cc;
}

html {
  scroll-behavior: smooth;
}

.bottle {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 40;
  will-change: transform;
}
