

/* body {
  /* background-image: url('/Cream.png'); */
  /* background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* background-color: rgb(189, 183, 177); */
 
body{
  background-color: #f6efe4;
}